* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
    width: 100%;
    padding-top: 13vh;
}

.calculating-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculating-form-container .calculating-form {
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 30px; 
    padding: 30px;
}

.calculating-form-container .calculating-form .input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 25px;
    padding-bottom: 35px;
    background-color: #f9f9fa;
    border-radius: 10px;
    position: relative;
}

.calculating-form-container .calculating-form .input-box .note {
    position: absolute;
    color: red;
    font-size: 12px;
    bottom: -5px;
}

.calculating-form-container .calculating-form .input-box label {
    font-weight: 600;
    color: #899198;
}

.calculating-form-container .calculating-form .input-box div {
    height: 20px;
    display: flex;
    align-items: end;
    gap: 30px;
}

.calculating-form-container .calculating-form .input-box select {
    background: transparent;
    height: 45px;
    padding: 5px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-bottom: #56cc84 2px solid;
    /* border-bottom: #6ba8cb 2px solid; */
}

.calculating-form-container .calculating-form .input-box input[type = 'range'] {
    border-radius: 0;
}

.calculating-form-container .calculating-form .input-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #eeeef4;
    height: 35px;
    padding: 5px;
}

.rangeInput {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 4px;
    background: #eeeef4;
  }
  
  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 40px;
    width: 40px;
    /* background: #56cc84; */
    background-image: url('../img/icones/brushIcone.png');
    background-size: cover;
    border-radius: 50%;
    transition: .2s ease-in-out;
    transform: rotateZ(var(--thumb-rotate, 0deg));
  }

  .resultat{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 30px;
    justify-content: end;
  }

  .resultat svg{
    height: 50px;
  }
  .resultat .resultat-box{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: #f9f9fa;
   padding: 10px;
   width: 230px;
   border-radius: 10px;
  }
  .resultat .resultat-box h1{
   font-weight: 400;
   font-size: 20px;
   
  }
  .resultat .resultat-box p{
   font-weight: 600;
   font-size: 35px;
   color: #56cc84;
  }

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 70px;
    height: 35px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #56cc84;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    top: 4px;
    left: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 38px;
}

.back-slach {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(25deg) scale(var(--ggs,1));
    width: 5px;
    height: 40px;
    background: rgb(34, 34, 34);
    border-radius: 3px
}

/* .back-slach{
   height: 100px;
   width: 8px;
   border-radius: 9px; 
   background-color: #13522b;
   transform: rotate(15deg);
} */
@media (max-width: 1080px) {
    .calculating-form-container .calculating-form .input-box .note {
        font-size: 9px;
        bottom: -5px;
    }
}

@media (max-width: 850px) {
    .calculating-form-container .calculating-form .input-box {
        gap: 8px;
        padding: 15px;
        padding-bottom: 35px;
        border-radius: 7px;
    }

    .calculating-form-container .calculating-form .input-box .note {
        bottom: -13px;
    }

    .resultat{
        width: 100%;
      }

      .resultat .resultat-box h1{
        font-size: 16px;
        
       }
       .resultat .resultat-box p{
        font-weight: 400;
        font-size: 25px;
        color: #56cc84;
       }
       .resultat{
        justify-content: center;
      }
}

@media (max-width: 650px) {
    .calculating-form-container .calculating-form {
        grid-template-columns: repeat(1, 1fr); 
    }

    .calculating-form-container .calculating-form .input-box label {
        font-weight: 400;
        font-size: 14px;
    }

    .calculating-form-container .calculating-form .input-box .note {
        bottom: 0px;
    }
   
}

@media (max-width: 500px) {
    .resultat{
        margin-top: 0px;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 20px; 
      }

      .page-container{
        gap: 15px;
        padding-top: 10vh;
      }

      .calculating-form-container .calculating-form .input-box .note {
        bottom: 0px;
    }

      
}

@media (max-width: 450px) {
      .calculating-form-container .calculating-form .input-box .note {
        bottom: -10px;
    }

      
}

  
  