body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  }



.header{background-color: #ffffff;}
.container_slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;  
}
/* Style du conteneur du slider */
.swiper-container {
  
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 10px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 520px;
  max-width: 1170px;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style des slides */
.swiper-slide {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: black;
      transition: transform 0.3s ease-in-out;
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.swiper-slide:hover {
      max-height: 455px;
      cursor: pointer;
      transition: all 0.15s;
}
/* Style du lien à l'intérieur des slides */
.swiper-slide a {
          text-decoration: none;
          color: white;
          font-weight: bold;
}
.swiper-slide img{
        max-width: 100px;
        
}
.swiper-slide h2{
        text-align: center;
        font-weight: 600;
        font-size: 22px;        
        width: 85%;
        color: rgb(75, 91, 104);
        animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.swiper-slide ul{
        /* border: 1px solid black; */
        min-height: 22%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        min-width: 90%;
}
.swiper-slide li{
        /* border: 1px solid black; */
        text-align: center;
        /* margin-top: 25px; */
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        width: 60%;
        font-weight: 300;
        color: #677D8F;
}
.swiper-slide li i{
        color: #56cc84;
        /* color: #4ba0e8; */
}

.swiper-slide a{
        padding: 10px 39px;
        border: 2px solid #56cc84;
        border-radius: 23px;
        color: #677D8F;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.1px;
}

.swiper-slide a:hover{
        background-color: #56cc84;
        color: #ffffff;
        transition: all 0.6s;
}
.slid1{margin-left: 30px;}
    
@media(max-width: 1280px){
        .swiper-container {
            height: 520px;
            max-width: 1300px;
            min-width: 200px;
            width: 83%;
            /* border: 1px solid black; */
          }
        .swiper-slide {
            margin-top: 20px;
            max-height: 460px;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 8px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          }
          .slid1{margin-left: 10px;}

}
    /* Responsive : 3 slides par page */
@media screen and (max-width: 768px) {
      .swiper-container {
          width: 100%; /* Occupe toute la largeur de l'écran */
      }
  
      .swiper-slide {
          max-width: calc(33.33% - 20px); /* Espacement entre les slides */
      }
}


        /* Style de la pagination */
        .swiper-pagination {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
      }

      /* Style de la puce de pagination */
      .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: rgba(255, 255, 255, 0.7);
          opacity: 0.7;
          border-radius: 50%;
          display: inline-block;
          margin: 0 5px;
          transition: background-color 0.3s ease-in-out;
      }

      /* Style de la puce de pagination active */
      .swiper-pagination-bullet-active {
          background: #ffffff;
          opacity: 1;
      }

      .swiper-slide {
          margin-top: 20px;
          max-height: 460px;
          max-width: 360px;
          min-width: 280px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      .swiper-slide:hover {
          max-height: 455px;
          cursor: pointer;
          transition: all 0.1.5s;

      }

      .swiper-slide img {
          max-width: 100px;
      }

      .swiper-slide h2 {
          text-align: center;
          font-weight: 600;
          font-size: 22px;
          width: 85%;
          color: rgb(75, 91, 104);
      }

      .swiper-slide ul {
          /* border: 1px solid black; */
          min-height: 22%;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          min-width: 90%;
      }

      .swiper-slide li {
          /* border: 1px solid black; */
          text-align: center;
          /* margin-top: 25px; */
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          width: 60%;
          font-weight: 300;
          color: #677D8F;
      }

      .swiper-slide li i {
          color: #56cc84;
      }

      .swiper-slide a {
          padding: 10px 39px;
          border: 2px solid #56cc84;
          border-radius: 23px;
          color: #677D8F;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 1.1px;
      }

      .swiper-slide a:hover {
          background-color: #56cc84;
          color: #ffffff;
          transition: all 0.6s;
      }

      .swiper-pagination-bullet {
          background-color: #dee0e2;
          /* Couleur de fond */
          position: relative;
          left: 50%;
      }

      .swiper-pagination-bullet-active {
          background-color: #56cc84;
          /* Couleur de fond désirée pour le point actif */
      }

    




    


    