@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    /* box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.2); */
}

.navbar h1 {
    letter-spacing: 1px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-bottom: 0;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    letter-spacing: .8px;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 0;
    transition: 0.3s;
}

.navbar ul a:hover {
    color: rgb(255, 153, 44);
    transition: 0.3s;
}

.navbar .btn {
    background: linear-gradient(90deg, rgb(164, 224, 50) 0%, rgb(112, 238, 39) 100%);
    border-radius: 5PX;
    height: 40px;
    width: 100px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s;
}

.navbar .btn.login {
    background: transparent;
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16PX; 
    font-weight: 300;
}

.navbar .btn.login:hover {
    color: rgb(255, 145, 0);
}

.navbar .btn.connected {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(226, 226, 226) 100%);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    transition: 0.4s;
}
.navbar .back{
    text-decoration: none;
    color: black;
    letter-spacing: .8px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.5);
    padding: 8px 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .back:hover{
    color: rgb(255, 255, 255);
}
